[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak {
  display: none !important;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  font-family: 'Lato', sans-serif !important;
  height: 100%;
}

.nav-bar-custom {
  background-color: #046380;
  color: white;
}

.nav-bar-custom a{
  color: white;
}

.nav-bar-custom a:hover{
  color: black;
}

.navbar-nav {
  float: none;
  display: inline-block;
}

.nav-logo {
  padding-top: 2px;
}

.jumbo-top {
  padding: 20px 0 !important;
	text-align: center;
  margin-bottom: 0 !important;
  background-image: url('../assets/blackboard-background.png');
}

.jumbo-top h1 {
  padding-bottom: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

input.form-control {
  width: 650px !important;
}

textarea.form-description-control {
  width: 650px !important;
}

button.idea-submit-button {
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.upvote-downvote-wrapper {
  width: 63px !important;
  text-align: center;
}

i.fa-sort-asc, i.fa-sort-desc {
  font-size: 25px;
}

i.fa-sort-asc:hover, i.fa-sort-desc:hover {
  cursor: pointer;
  color: #046380;
}

i.fa-sort-asc:active, i.fa-sort-desc:active {
  cursor: pointer;
  color: #03495e;
}

.idea-container:hover {
  cursor: pointer;
}

.idea-title {
  margin-top: 0;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.idea-title:hover {
  text-decoration: underline;
}

.idea-post:hover {
  background-color: #fff5e2;
}

.idea-post {
  padding-top: 15px;
  padding-bottom: 15px;
}

i.fa-comments {
  font-size: 30px;
}

i.fa-comments:hover {
  cursor: pointer;
  color: #046380;
}

i.fa-comments:active {
  cursor: pointer;
  color: #03495e;
}

.comments-wrapper {
  margin-top: 10px;
  width: 50px;
  text-align: center;
  float: right;
}

.vote-points {
  padding: 5px 0;
}

.timestamp-author {
  margin-bottom: 0;
}

.user-feedback-container {
  background-color: #046380;
  text-align: center;
  padding: 0.5em 0;
  color: white;
}

.user-feedback-container:hover {
  cursor: pointer;
}

.show-on-error {
  height: 0;
}

.login-form {
  text-align: center;
}

input.login-form-input {
  width: 75% !important;
  height: 45px !important;
  margin: 0 auto;
}

input#inputUsername {
  border-radius: 3px 3px 0 0;
}

input#inputPassword {
  border-radius: 0 0 3px 3px;
}

input.form-description-control {
  margin-top: 5px;
}

.login-button {
  font-family: 'Lato', sans-serif !important;
  margin: 0 auto;
  width: 75% !important;
  background-color: #046380 !important;
}

.login-button:hover {
  background-color: #046075 !important;
}

.login-button:active {
  background-color: #03495e !important;
}

.login-button {
  margin-top: 20px;
  border-radius: 3px !important;
}

img.logo-large {
  width: 60%;
  margin-top: 25%;
  margin-bottom: 5%;
}

.sign-up-here {
  margin-top: 10px;
}

.tagline {
  padding: 15px 15px 15px 10px;
}

a.glint-logo-icon {
  display: inline !important;
  padding: 0 !important;
}

a.glint-logo-icon:hover{
  background-color: rgba(0,0,0,0) !important;
}

a.glint-logo-icon:link{
  background-color: rgba(0,0,0,0) !important;
}

/* Idea Post transitions */

.idea-post-repeat.ng-enter {
  transition: 0.75s;
  opacity: 0;
}

.idea-post-repeat.ng-enter-active {
  opacity: 1;
}

.idea-post-repeat.ng-enter-stagger {
  transition-delay: 0.2s;
}

.idea-post-repeat.ng-leave {
  transition: 0.75s;
  opacity: 1;
}

.idea-post-repeat.ng-leave-active {
  opacity: 0;
}

/* Form description transitions */

.form-description.ng-enter {
  transition: 0.75s;
  opacity: 0;
  height: 0px;
}

.form-description.ng-enter-active {
  height: 73px;
  opacity: 1;
}

.form-description.ng-leave {
  transition: 0.75s;
  height: 73px;
  opacity: 1;
}

.form-description.ng-leave-active {
  height: 0;
  opacity: 0;
}


.post-idea-animation.ng-enter {
  transition: 0.75s;
  opacity: 0;
  height: 0px;
}

.post-idea-animation.ng-enter-active {
  height: 34px;
  opacity: 1;
}

.post-idea-animation.ng-leave {
  transition: 0.75s;
  height: 34px;
  opacity: 1;
}

.post-idea-animation.ng-leave-active {
  height: 0;
  padding: 0;
  opacity: 0;
}

.details-container {
  width: 100%;
  height: 100%;
  padding: 16px;
}

.details-collaborators {
  width: 50%;
  height: 100%;
  border-right: 1px solid gray;
}

.details-comments {
  width: 50%;
}

.idea-info {
  background-color: #f3f3f3;
  padding: 8px 16px 24px 16px;
  margin-bottom: 16px;
  margin-right: 10px;
  border-radius: 6px;
}

.form-collaborator {
  display: inline;
}

.collab-user{
  padding-bottom:8px;
}
.form-collaborator-textbox {
  width: 70%;
  height:100%;
  line-height: 30px;
  padding-left: 7px;
  margin-right:16px;
}

.form-group {
  width: 100%;
}
