<!-- <div ng-init="clctrl.init()"></div>
 -->
<div class="jumbotron jumbo-top">
  <h1 class="animated fadeInUp">{{clctrl.idea.title}}</h1>
  <h4 class="animated fadeInUp">Created {{ clctrl.idea.created_at | moment }} by {{ clctrl.idea.created_by }}</h4>
</div>

<!-- User Feedback Message Area -->
<div class="user-feedback-container ng-cloak post-idea-animation" ng-if="ictrl.postSuccess" ng-click="ictrl.postSuccess = !ictrl.postSuccess">
  <span class="post-idea-success">Your idea has been posted.</span>
</div>

<!-- Navigate between collaborators and comments -->
<!-- <div class="detail-mode">
  <ul>
    <li><a href="#/ideas/{{clctrl._id}}/collaborators">Collaborators</a></li>
    <li><a href="#/ideas/{{clctrl._id}}/comments">Comments</a></li>
  </ul>
</div> -->
<div class="details-container animated fadeInUp">

  <!--- left side of page -->
  <div class="details-collaborators">
    <!-- Important info -->
    <div class="idea-info">
      <!--- Original poster, timestamp -->
      <!--- description -->
      <div>
        <h3>Description</h3>
      </div>
        <p>{{ clctrl.idea.text }}</p>
      </div>

        <!-- Edit Idea Description (TODO: only let admin do this) -->
        <form ng-if="true" class="navbar-form navbar-middle ng-cloak animated fadeInUp" ng-submit="clctrl.editDescription()">

          <!-- Enter Description TODO: make height automatic -->
          <div class="form-description">
            <textarea name="description-input" rows="3" class="form-control form-description-control" placeholder="Edit description here" ng-model="clctrl.idea.text" required></textarea>
          </div>
          <button type="submit" class="btn btn-default idea-submit-button">Edit Description</button>
        </form>
      <div>
    </div>
    <!-- Form to join as a collaborator -->
    <br>
    <div class="idea-info">
      <h3>Collaborators</h3>
      <form class="form-inline" ng-submit="clctrl.submitCollaborator()">

        <!-- Enter Your Role -->
        <div class="form-group ">
          <input name="idea-input" type="text" class="form-collaborator-textbox" placeholder="What role do you want to play?" ng-model="clctrl.newCollaborator.role" required>
          <button type="submit" class="btn btn-primary idea-submit-button">Become a collaborator</button>
        </div>
      </form>
      <br>
      <!-- List Collaborators, row by row -->
      <ul>
        <li ng-repeat="collaborator in clctrl.collaborators track by collaborator._id">{{ collaborator.username }} - {{ collaborator.role }}
        </li>
      </ul>
      <br>
    </div>
  </div>

  <!---right side of page-->
  <div class="details-comments">

    <div class="idea-info">
      <h3>Comments</h3>
      <!-- Form to submit a comment-->
      <form class="form-inline" ng-submit="clctrl.submitComment()">

        <!-- Enter Your Role -->
        <div class="form-group ">
          <input name="idea-input" type="text" class="form-collaborator-textbox" placeholder="Tell it like it is" ng-model="clctrl.newComment.text" required>
          <button type="submit" class="btn btn-primary idea-submit-button">Post your comment</button>
        </div>

      </form>
      <br>
      <!-- List Comments, row by row -->
      <div class="comment" ng-repeat="comment in clctrl.comments track by comment._id">
        <p class="timestamp-author">Posted {{ comment.created_at | moment }} by {{ comment.created_by }}</p>
        <h5 class="idea-description">{{ comment.text }}</h5>
      </div>
    </div>
  </div>
</div>
</div>
