<!-- <div ng-init="clctrl.init()"></div>
 --><div class="jumbotron jumbo-top"> 
  <h1 class="animated fadeInUp">{{clctrl.idea.title}}</h1>
  <h4 class="animated fadeInUp">Created {{ clctrl.idea.created_at | moment }} by {{ clctrl.idea.created_by }}</h4>
</div>

<!-- User Feedback Message Area -->
<div class="user-feedback-container ng-cloak post-idea-animation" ng-if="ictrl.postSuccess" ng-click="ictrl.postSuccess = !ictrl.postSuccess">
  <span class="post-idea-success">Your idea has been posted.</span>
</div>

<!-- Navigate between collaborators and comments -->
<!-- <div class="detail-mode">
  <ul>
    <li><a href="#/ideas/{{clctrl._id}}/collaborators">Collaborators</a></li>
    <li><a href="#/ideas/{{clctrl._id}}/comments">Comments</a></li>
  </ul>
</div> -->
<div class="details-container">
  <!--- left side of page -->
  <div class="details-collaborators">
    <!-- Important info -->
    <div class="idea-info">
      <!--- Original poster, timestamp -->
      <div>
        <h3>Description:</h3>
      </div>
      <!--- description -->
      <div>
        <!--- todo: limit size -->
        <p>{{ clctrl.idea.text }}</p>
      </div>
    </div>
    <!-- Form to join as a collaborator -->
    <form class="form-inline" ng-submit="clctrl.submitCollaborator()">

      <!-- Enter Your Role -->
      <div class="form-group animated fadeInUp">
        <input name="idea-input" type="text" class="form-collaborator-textbox" placeholder="Your role here" ng-model="clctrl.newCollaborator.role" required>
      </div>
      
      <button type="submit" class="btn btn-primary idea-submit-button animated fadeInUp">Become a collaborator</button>
    </form>

    <!-- List Collaborators, row by row -->
    <div class="row idea-post ng-cloak idea-post-repeat" ng-repeat="collaborator in clctrl.collaborators track by collaborator._id"> 
      <div class="col-md-1">
      </div>

      <div class="idea-container">
        <div class="col-md-8">
          <div class="idea-wrapper">
            <!-- (broken link to user profile) -->
            <h3 class="idea-title"><a href="/#collaborators">{{ collaborator.username }} - {{ collaborator.role }}</a></h3>
            </div>
        </div>
      </div>
      <div class="col-md-1">
      </div>
    </div>
    <!---right side of page-->
    <div class="details-comments">
    </div>
  </div>